.boardWrapper {
  width: 300px;
  height: 300px;
  margin: 10vh auto;
  -webkit-box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.66);
  box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.66);

  display: flex;
  flex-wrap: wrap;
}
